POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Identity Service - Google OAuth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Payment Service - Razorpay
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
